
 body {
  margin: 0;
  padding: 0;
  
  height: 100vh;
}

h3{ padding:10px 0px 10px 0px; color:#17a2b8;}
.logo{ padding-top:5px;}
.logout{ margin-top:8px;}

.login-bg{background-color: #17a2b8;}
header{background-color: #17a2b8; padding: 15px 0px; margin-bottom: 20px;}

#login .container #login-row #login-column #login-box {
  margin-top: 70px;
  max-width: 600px;
  height: auto;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: 0px;
}


.register-bg{background-color: #17a2b8;}
#register .container #login-row #login-column #login-box {
  margin-top: 70px;
  max-width: 600px;
  height: auto;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#register .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#register .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: 0px;
}



.navbar {
  overflow: hidden;
  display:inline;
  font-weight:bold;

}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ffffff;
  color:#666666;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}


footer{ background:#e4e0e0; position:absolute; bottom:0; width:100%; padding:10px 0px; font-size:14px; color:#444444;}

   
